<li id="feedList">
  <h2><b>{{#link-to 'feed' feed.id}}{{feed.title}}{{/link-to}}
    </b>
  </h2>
  <div class=videoWrapper>
    <iframe width="660" height="400" src="{{feed.url}}" frameborder="0" allowfullscreen></iframe>
  </div>
  <p><b>Posted by:</b> {{feed.poster}}
  </p>
  <hr>
</li>
