html{
  height: 100%;
  margin: 0;
}

body{
  font-size: 20px;
  font-family: "HelveticaNeue-Light",
  "Helvetica Neue Light","Helvetica Neue","Helvetica","Arial","Lucida Grande",sans-serif;
  background: silver;
  height: 100%;
  padding: 0px;
  background-color: #B5C689;
  color: #2E2E2E;
}
