

<h2>ABOUT fave.tech(talk)</h2>

<p>Welcome to fave.tech(talk) - where you can upload your favorite tech talk video or manuscript to generate discussion and further exploration on your favorite technical topics.</p>

<p>The inspiration for this site came from a basic google search, "learn the concepts behind coding" which lead me to this page: <a href="http://www.ybrikman.com/writing/2014/05/19/dont-learn-to-code-learn-to-think/">Don't learn to code. Learn to think.</a></p>

<p>I read the post and eventually at the bottom saw a link for the next post: <a herf="http://www.ybrikman.com/writing/2014/05/29/must-see-tech-talks-for-every-programmer/">Must-See Tech Talks for Every Programmer</a></p>

<p>There are so many great videos on this list. I perused them and the first one I watched was <i>Simple Made Easy</i> by Rich Hickey, the creator of <a href="http://clojure.org/">Clojure</a>.</p>

<p>Wow! The first thing I related his talk to was the very framework I was using to create this MVP with: <a href="https://www.emberjs.com/">Ember</a>. It dawned on me that for the sake of "easy" I was giviing up "simple" and creating an architecture that was filled with dependencies and cross references. I feel like I am complecting my data, my code, and it is interfering with my ability to conceptualize what I am building.</p>

<p>Blake</p>
