<div class= "container">
  <header class= "jumbotron">
    <img id="jumbotronLogo" src="/assets/images/fave-tech-talk-logo-two.png" alt="Logo">
  </header>
    {{outlet}}
  <footer>
    {{#link-to 'about'}}Our representatives would love to help!{{/link-to}}
  </footer>
</div>
