<div class= "container">
  <header class= "jumbotron">
    <h1>fave.tech(talk)</h1>
  </header>
    {{outlet}}
  <footer>
    {{#link-to 'about'}}Our representatives would love to help!{{/link-to}}
  </footer>
</div>
