{{#link-to 'about'}}About fave.tech(talk){{/link-to}}

<h1>fave.tech(talk)</h1>

<h2>Feeds</h2>

<ul>
  {{#each model as |feed|}}
    {{feed-tile feed=feed destroyFeed="destroyFeed"}}
  {{/each}}
</ul>
