<div class="row">
  <div class="col-lg-12">
    <h2>Welcome to fave<span class="period">.</span>tech(<span class="period">talk</span>) where you can post your favorite technical talks and view the favorite tech talks of other tech geeks like you! You are not alone...</h2>
    <hr>
    <div class="well">
    <ol>
      <li>All talks are listed below. Just click to watch.</li>
      <li>Click on the titles to see a detail page where you can leave a comment and read the comments of others. You can watch the video there too.</li>
      <li>Post a new talk by clicking on the "New Talk" button.</li><span id="newTalkButton">{{new-feed saveFeed="saveFeed"}}</span>
    </ol>
    </div>
    <hr>
    <ul>
      {{#each model.feeds as |feed|}}
        {{feed-tile feed=feed update="update" destroyFeed="destroyFeed"}}
      {{/each}}
      <nav id="bottomNavBar" class="navbar navbar-inverse">
      </nav>
    </ul>
  </div>
</div>
