{{#link-to 'about'}}About fave.tech(talk){{/link-to}}

{{new-feed saveFeed="saveFeed"}}

<h2>Feeds</h2>

<ul>
  {{#each model as |feed|}}
    {{feed-tile feed=feed update="update" destroyFeed="destroyFeed"}}
  {{/each}}
</ul>
