<br>
{{new-feed saveFeed="saveFeed"}}
<h2>All Talks</h2>
<hr>

<ul>
  {{#each model as |feed|}}
    {{feed-tile feed=feed update="update" destroyFeed="destroyFeed"}}
  {{/each}}
  <nav id="bottomNavBar" class="navbar navbar-inverse">
  </nav>
</ul>
